# Database configuration
# For PostgreSQL (Production):
# DATABASE_URL=postgresql://user:password@localhost:5432/wealth_db

# For SQLite (Local development / testing default):
DATABASE_URL=sqlite:///./wealth_360.db

# API Settings
PROJECT_NAME="Wealth & Asset Consolidation API"
API_V1_STR="/api"
